# 1.Airthmatic Operators:-
Q1: What will be the output of the following expressions? Predict the result first, then run in Python to verify:

In [1]:
a=25
b=4
print(a+b)  # Addition
print(a-b)  # Subtraction
print(a*b)  # Multiplication
print(a/b)  # Division
print(a//b) # Floor Division
print(a%b)  # Modulus
print(a**b) # Exponentiation

29
21
100
6.25
6
1
390625

Q2: Swap two numbers using arithmetic operators only (without using a third variable).

In [3]:
a=input("a=")
b=input("b=")
if a.isdigit() and b.isdigit():
    a=int(a)
    b=int(b)
    a = a + b
    b = a - b
    a = a - b
    print("After swpping")
    print("a=",a)
    print("b=",b)
else:
    print("invalid input")

a=45
b=87
After swpping
a= 87
b= 45

Q3: Create a script to calculate the average of five numbers entered by the user using input() and arithmetic operators.

In [6]:
a,b,c,d,e=input("a="),input("b="),input("c="),input("d="),input("e=")
if a.isdigit() and b.isdigit() and c.isdigit() and d.isdigit() and e.isdigit() :
    a=int(a)
    b=int(b)
    c=int(c)
    d=int(d)
    e=int(e)

    avg=(a+b+c+d+e)/5
    print("Average=",avg)
else:
    print("invalid input")

a=5
b=5
c=5
d=5
e=5
Average= 5.0

In [8]:
a = input("a=")
b = input("b=")
c = input("c=")
d = input("d=")
e = input("e=")

if a.isdecimal() and b.isdecimal() and c.isdecimal() and d.isdecimal() and e.isdecimal():
    # Convert to integers
    a = int(a)
    b = int(b)
    c = int(c)
    d = int(d)
    e = int(e)

    avg = (a + b + c + d + e) / 5
    print("Average =", avg)
else:
    print("Invalid input")

a=5
b=5
c=5
d=5
e=5
Average = 5.0

# 2. Logical Operators
Q1: Fill in the blanks with the correct logical operator (and, or, not) to make the condition true:

In [21]:
x=True
y=False
#to make the condition true
print(x and not y)
print(x or y)
print(x)
print(not y)

True
True
True
True

Q2: Write a script that checks whether a student can pass:
Condition: If marks in math > 35 and science > 35.
Below are the input marks of students
math = 40
science = 38

In [9]:
mathematics=int(input("mathematics="))
science=int(input("science="))
if mathematics>35 and science>35:
    print("pass")
else:
    print("fail")

mathematics=40
science=38
pass

Q3: If today is not Sunday, and the weather is not raining, print "You can go for a picnic."
 Otherwise print "Stay home."

In [13]:
day=input("enter the day :")
weather=input("enter the raining or not:")
if day.lower()=="sunday" and weather.lower()=="no":
  print("You can go for picnic")
else:
  print("stay home")

enter the day :sunday
enter the raining or not:no
You can go for picnic

3. Comparison Operators
Q1: Fill in the blanks and write the output:

In [14]:
x=15
y=20
print(x>y)
print(x<y)

False
True

Q2: Write a Python script to compare ages of two people and print who is older or if they are the same age.

In [2]:
age01_of_person=int(input("age of a first person:"))
age02_of_person=int(input("age of a Second person:"))
if age01_of_person>age02_of_person:
  print("first person is older")
elif age01_of_person<age02_of_person:
  print("second person is older")
else:
  print("both ages are equal")

age of a first person:45
age of a Second person:45
both ages are equal

Q3: Write a Python condition to check if a number entered by the user is between 10 and 100 (inclusive).

In [3]:
number=int(input("Enter the number:"))
if 10<number<100:
  print("number is between 10 and 100")
else:
  print("number is not between 10 and 100")

Enter the number:11
number is between 10 and 100

# 4. Concatenation & Repetition
Q1: Write the difference between concatenation and repetition in 1 line each with examples.

**Concatenation**:-Joing the two strings  with + operaator

In [5]:
a="Innomatics "
b="Research labs"
c=a+b
print(c)

Innomatics Research labs

Repetitions:-Repeat the string specified number of times by using " * "operator

In [8]:
print("Innomatics Research labs\n"*4)

Innomatics Research labs
Innomatics Research labs
Innomatics Research labs
Innomatics Research labs

Q2: Given:
brand = "Innomatics"

Print brand 10 times using repetition operator.

Add the word "Research Labs" to the end of the brand using concatenation.

In [14]:
brand="Innomatics"
print(brand*10)
print(brand+"research labs")

InnomaticsInnomaticsInnomaticsInnomaticsInnomaticsInnomaticsInnomaticsInnomaticsInnomaticsInnomatics
Innomaticsresearch labs

Q3: Take first_name and last_name as input from the user.

Display:
Full name.

A welcome banner like:

Hello, Firstname Lastname

Hello, Firstname Lastname

Hello, Firstname Lastname

In [19]:
first_name=input("Enter the first name:")
Second_name=input("Enter the Second name:")
full_name=first_name+" "+Second_name
print(f"full name is {full_name}")
print(f"hello {full_name}\n"*3)

Enter the first name:lakshmi
Enter the Second name:ganesh
full name is lakshmi ganesh
hello lakshmi ganesh
hello lakshmi ganesh
hello lakshmi ganesh