# 1. Arithmetic Operators
1.What are arithmetic operators? Give 2 examples in your own words?

Airthamtic Operators are used to perform airthmatic Operations like Additions,Substractions,Multiplications and Divisons

EXamples:-


1.   Addition:adding two numbers(23+24=47)
2.   Substarcion:substarct from highest number into lowest number(25-3=22)
3.   Multiplication:multiply one number into another number(23*2=46)

2.Define below two variables and perform operations using arithmetic operators (+, -, *, /, //, %, **).

In [ ]:
value1 = 10
value2 = 15

print("Addition of two numbers",value1+value2)
print("Subtraction of two numbers  ",value1-value2)
print("Multiplication of two numbers ",value1*value2)
print("Dvision of two numbers ",value1/value2)
print("Floor Dvision of two numbers",value1//value2)
print("Modules of two numbers ",value1%value2)
print("Exponent",value1**value2)

Addition of two numbers 25
Subtraction of two numbers   -5
Multiplication of two numbers  150
Dvision of two numbers  0.6666666666666666
Floor Dvision of two numbers 0
Modules of two numbers  10
Exponent 1000000000000000

## challenge
You have a floor that is 95 meters long and 58.8 meter wide. Find out the Total Area rectangular floor using python and print it.
A rectangular tile is 2 meters long and 2 meters wide.
How many such tiles will you need to cover the floor completely?

In [ ]:
length_of_floor=float(input("enter the length of floor:"))
width_of_floor=float(input("enter the width of floor :"))
area_of_floor=length_of_floor*width_of_floor
print("Area of Floor",area_of_floor,"sq.meters")


length_of_tile=float(input("enter the length of tile:"))
width_of_tile=float(input("enter the width of tile:"))
area_of_tile= length_of_tile*width_of_tile
print("area of tile:",area_of_tile,"sq.meters")

number_of_tiles=area_of_floor/area_of_tile
print("number of tiles:",number_of_tiles)

enter the length of floor:95
enter the width of floor :58.8
Area of Floor 5586.0 sq.meters
enter the length of tile:2
enter the width of tile:2
area of tile: 4.0 sq.meters
number of tiles: 1396.5

# Logical Operator
1.What are logical operators in Python? Where do we use them?


*   Logical operators are used to combine multiple condition in a programming
*   these are used in conditional statements and loops for decision making

*   Logical Operators are:
             

1.   Logical and
2.   Logical or
3.   List not

2.Create a Python script that defines two boolean variables, is_sunny and is_warm, with appropriate values (True or False).

In [12]:
is_sunny = True
is_warm = False

print("Is it sunny?", is_sunny)
print("Is it warm?", is_warm)

Is it sunny? True
Is it warm? False

4.Use logical operators (and, or, not) to create the following conditions:
Check if it's both sunny and warm and print the result.
Check if it's either sunny or warm and print the result.
Check if it's not sunny and print the result.

In [15]:
is_sunny = True
is_warm = False
print("sunny and warm",is_sunny and is_warm)
print("sunny and warm ",is_sunny or is_warm)
print("not sunny",not is_sunny)

sunny and warm False
sunny and warm  True
not sunny False

If has_umbrella = True and is_raining = False,
Can you go outside without getting wet? Use logical operators to decide.

In [16]:
has_umbrella=True
is_raining=False
outside=has_umbrella and not is_raining
print("outside without wet ",outside)

outside without wet  True

# Comparison Operators
1.What are comparison operators? List a few real-world situations where we use them.
Comparison Operators are used to compare the two values and return the reusult as boolean form
real world situations:-
1.Grading System
2.price comparison

2.Create a Python script that defines two variables, value1 and value2, with any numeric values.

In [17]:
value1=int(input("enter the value1:"))
value2=int(input("enter the value1:"))
print(f"the value1 is {value1} and the value2 is {value2}")

enter the value1:34
enter the value1:89
the value1 is 34 and the value2 is89

Use comparative operators (==, !=, <, >, <=, >=) to create the following conditions:

1.Check if value1 is equal to value2 and print the result.

2.Check if value1 is not equal to value2 and print the result.

3.Check if value1 is less than value2 and print the result.

4.Check if value1 is greater than value2 and print the result.

5.Check if value1 is less than or equal to value2 and print the result.

6.Check if value1 is greater than or equal to value2 and print the result.

In [18]:
value1=int(input("enter the value1:"))
value2=int(input("enter the value1:"))
print(value1==value2)
print(value1!=value2)
print(value1<value2)
print(value1>value2)
print(value1<=value2)
print(value1>=value2)

enter the value1:52
enter the value1:25
False
True
False
True
False
True


A person’s age is 18.
Write a condition to check if the person is eligible to vote (18 or older). Print the message accordingly.

In [19]:
age_of_person=int(input("enter the age of a person :"))
if age_of_person>=18:
  print("person is eligible to vote")
else:
  print("person is not eligible to vote")

enter the age of a person :19
person is eligible to vote

4. CONCATENATION REPETITION

1.What is concatenation and what is repetition? Write the difference between them ?

**concatenation**:-joing the two strings by using + operator .here + operator does not act as airthamtic operator.

**repetition:-**:-repeat the string as specified number of times by using * operator

2.Take two variables as first_name and last_name.concatenate them.

In [20]:
from typing import Concatenate
first_name=input("enter the first name: ")
second_name=input("enter the second name:")
Concatenate=first_name+second_name
print(Concatenate)

enter the first name:lakshmi
enter the second name:ganesh
lakshmiganesh

3.Print "Innomatics" 5 times in the same line.

In [23]:
print("Innomatics  "*5)

Innomatics  Innomatics  Innomatics  Innomatics  Innomatics

**challenge**

Create a mini banner that Prints "Welcome!" followed by your full name 3 times, each on a new line.

In [32]:
full_name=input("enter the full name of person :")
print(f"welcome,{full_name}\n"*3)

enter the full name of person :lakshmi ganesh
welcome,lakshmi ganesh
welcome,lakshmi ganesh
welcome,lakshmi ganesh